@font-face {
    font-family:pixel ;
    src: url(resources/Pixelify_Sans/Pixer\ Regular\ 400.otf) format("opentype");
  }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'pixel', cursive;
  }
  body {
    height: 100vh;
    background: linear-gradient(123deg, #240A34, #891652);
  }
  html {
    font-size: 16px;
  }
  .wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
  }
  .button-option {
    background: #FFEDD8;
    border: #EABE6C;

    height: 22vmin;
    width: 22vmin;
    border: none;
    border-radius: 8px;
    font-size: 12vmin;
    color: #EABE6C;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
 
 .button-option{

    background: rgba(220, 13, 121, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(220, 13, 121, 0.16);
 }




  #restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: #0a0027;
    color: #ffffff;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
  }
  .popup {
    background: linear-gradient(123deg, #240A34, #891652);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
  }
  #new-game {
    font-size: 0.6em;
    padding: 0.5em 1em;
    background-color: #0a0027;
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
  }
  #message {
    color: #EABE6C;
    text-align: center;
    font-size: 1em;
  }
  .popup.hide {
    display: none;
  }